#!/usr/bin/make -f

include /usr/share/cdbs/1/class/cmake.mk
include /usr/share/cdbs/1/rules/debhelper.mk

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# CMake options
export DEB_CMAKE_EXTRA_FLAGS=-DCMAKE_BUILD_TYPE=Release -DINET=OFF -DINET6=OFF -DSCTP_DEBUG=OFF
